:root {
  --bg-color: #fdf7f2;
  --bg-colorDark: #c28d59;
  --secondary-color: #a8a29c;
  --text-color: rgb(30, 29, 29);
  --btn: #f9f0df;
  --overlay-color: rgba(0, 0, 0, 0.4);
  --close-btn-color: #421705;
  --close-btn-hover-color: #c12e18;
}
.form-container {
  /* display: none; */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--overlay-color);
}

.form {
  width: 350px;
  height: 472px;
  background: var(--bg-colorDark);
  overflow: hidden;
  margin: 12% auto;
  border: 0;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#chk {
  display: none;
}

/*SIGNUP*/
.activeForm {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#labelSignUp {
  color: #fff;
  font-size: 2.3em;
  justify-content: center;
  display: flex;
  margin: 16px;
  font-weight: bold;
  cursor: pointer;
  width: 85%;
  transition: 0.5s ease-in-out;
}

.signup {
  position: relative;
  width: 100%;
  height: 100%;
}
.signup button,
.login button {
  margin: 20px auto;
  height: 40px;
  align-items: center;
}

label {
  color: #fff;
  font-size: 2.3em;
  justify-content: center;
  display: flex;
  margin: 50px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

input {
  width: 42%;
  height: 8px;
  background: #e0dede;
  justify-content: center;
  display: flex;
  margin: 4px auto;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}

#doSignUpBtn {
  color: var(--bg-colorDark);
  background-color: var(--bg-color);
}
#chk:checked ~ .signup label {
  transform: scale(0.6);
}

/*LOGIN*/
#labelLogin {
  color: var(--bg-colorDark);
  font-size: 2.3em;
  justify-content: center;
  display: flex;
  margin: 35px 15px 124px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.login {
  height: 460px;
  background: #eee;
  border-radius: 60% / 10%;
  transform: translateY(-180px);
  transition: 0.8s ease-in-out;
}

#doLoginBtn {
  display: flex;
  justify-content: center;
}
#doLoginBtn:hover {
  color: var(--bg-colorDark);
}
.login label {
  color: var(--focus);
  transform: scale(0.6);
}

#chk:checked ~ .login {
  transform: translateY(-450px);
  height: 490px;
}

#chk:checked ~ .login label {
  transform: scale(1);
}

.close {
  color: var(--close-btn-color);
  float: right;
  font-size: 28px;
  font-weight: bold;
  width: 10px;
}

.close:hover,
.close:focus {
  color: var(--close-btn-hover-color);
  text-decoration: none;
  cursor: pointer;
}
