:root {
  --bg-color: #fdf7f2;
  --focus: #846d62;
  --secondary-color: #a8a29c;
  --text-color: rgb(30, 29, 29);
}
.sidebar {
  max-height: calc(1100vh);
  background-color: var(--bg-color);
}
.menu {
  display: flex;
  position: sticky;
  top: 0;
  flex-direction: column;
  width: 200px;
  padding: 10px;
}

.menu span,
.menu select {
  font-weight: 500;
  margin-bottom: 20px;
  margin-left: 10px;
}

.menu button {
  margin-bottom: 20px;
  font-size: 13px;
  height: 50px;
}
#category-select {
  color: var(--focus);
  width: 160px;
}
